
.content-div:hover{
    background: linear-gradient(to right,
    rgba(126, 213, 111, 0.801), hsla(160, 64%, 43%, 0.801));
}

.content-div:hover .fd-cl {
    opacity: 0.25;
    user-select: none;

}

.content-div:hover .fd-sh {
    opacity: 1;
}