
.content-div:hover{
    background: linear-gradient(to right,
    rgba(87, 204, 153, 0.801), hsla(154, 53.4%, 57.1%, 0.801));
    transition-property: all;
    transform: translateY(-5px);
    transition:ease-in-out 0.25s;
}

.content-div:hover .fd-cl {
    opacity: 0.25;
    user-select: none;

}

.content-div:hover .fd-sh {
    opacity: 1;
}