.content-div{
    transition-property: all;
    transition: ease-out 0.30s;
}

.content-div:hover{
    background: linear-gradient(to right,
    rgba(255, 206, 166, 0.801), hsla(17, 100%, 84%, 0.801));
    transform: translateY(-10px);
}


.content-div .fd-cl{
 top: -20px;

}

.fd-cl-fadein{
    transform: translateY(20px);

}

.content-div:hover .fd-cl {
    opacity: 0.25;
    user-select: none;

}

.content-div:hover .fd-sh {
    opacity: 1;
}