.navbarwrapper {
    height: 100px;
    background-color: #fff;
}

.navbarStyles {
    position: "fixed";
    width: 100%;
    margin-bottom: "1rem";
    z-index: 10;
    height: 100%;
    
  };

a,summary{
    font-size: 1.2rem;
}